body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Htitle{
  font-family: fantasy;
  font-size: 50px;
  color: #1976d2;
}

.Flabel{
  font-family: fantasy !important;
  font-size:18px !important;
  color: #1976d2 !important;
}

.Blabel{
  font-family: fantasy !important;
  font-size:30px !important;
  color: white !important;
}

